.thread-metrics-bar {
  padding: 0.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: solid 1px var(--border-color);
}
